@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>What jokes do you have? Dad jokes? "Yo mama" jokes? Make a list and laugh</p>
</div>
